header.header(data-animation="show-with-fade")
    .container-fluid
        .header__row
            .header__logo
                .header__flares
                    img.header__flare(src="/images/flare.svg" alt="Flare")
                img.header__logo-img(src="/images/logo.svg" alt="Logo")
            .socials.d-flex.d-lg-none
                a.social-link(href="/" target="_blank" rel="nofollow")
                    span.social-icon
                        img(src="/images/linkedin.svg" alt="Linkedin")
                a.social-link(href="/" target="_blank" rel="nofollow")
                    span.social-icon
                        img(src="/images/facebook.svg" alt="Facebook")
                a.social-link(href="/" target="_blank" rel="nofollow")
                    span.social-icon
                        img(src="/images/telegram.svg" alt="Telegram")