link(rel="preconnect" href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet")

link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css")
link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
link(rel="stylesheet" type="text/css" href="https://unpkg.com/aos@next/dist/aos.css")
link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css")
link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css")

style.
  .preloader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 9999;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(26, 20, 27);
  }

  .preloader.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease-in-out;
  }

  .preloader .preloader__image {
    max-width: 100%;
  }

  .preloader .preloader__image img {
    max-width: 200px;
  }

  @media screen and (min-width: 992px) {
    .preloader .preloader__image {
      max-width: 50%;
    }

    .preloader .preloader__image img {
      width: 100%;
      height: auto;
      max-width: none;
    }
  }

script(type="text/javascript").
  document.addEventListener('DOMContentLoaded', function () {
    const html = document.getElementsByTagName('html')[0]

    html.style.overflow = 'hidden'
  })

  window.onload = function () {
    const html = document.getElementsByTagName('html')[0]
    const preloader = document.querySelectorAll('.preloader')[0]

    setTimeout(() => {
      html.style.overflow = 'auto'
      preloader.classList.add('hide')
    }, 1500)
    setTimeout(() => {
      preloader.remove()
    }, 2500)
  }