doctype html
html(lang="en")
	head
		block vars
		meta(charset="UTF-8")
		title #{title}
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge, chrome=1")

		include ../includes/head-links

		link(rel="icon" href="favicon.svg" type="image/svg+sml")
body
	include ../includes/prerloader

	include ../includes/header

	block content

	include ../includes/footer-scripts