.custom-button {
  height: 52px;
  display: flex;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 15px 24px 17px;
  background-color: transparent;
  transition: all 0.4s ease-in-out;

  @include respond-above(lg) {
    padding: 0;
  }

  &.full-width {
    width: 100%;
  }

  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    border-radius: 8px;
    border: 2px solid $accent;
  }

  &:before {
    width: 0;
    top: -2px;
    left: -2px;
    z-index: 0;
    content: '';
    bottom: -2px;
    position: absolute;
    border-radius: 8px;
    background-color: $accent;
    transition: all 0.4s ease-in-out;
  }

  &:hover, &:active {
    &:before {
      width: calc(100% + 2px);
    }

    span {
      color: $text;
    }

    svg {
      path {
        stroke: $text;
      }
    }
  }

  @include respond-above(lg) {
    height: 60px;

    span {
      line-height: normal;
    }
  }
  
  span {
    z-index: 1;
    color: $accent;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: all 0.4s ease-in-out;

    @include respond-above(lg) {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      display: flex;
      padding: 0 32px;
      font-size: 18px;
      position: absolute;
      align-items: center;
      justify-content: flex-start;
    }
  }

  img, svg {
    z-index: 1;
    width: 17px;
    height: 12px;
    margin-left: 12px;
    position: relative;

    @include respond-above(lg) {
      top: 50%;
      z-index: 1;
      right: 32px;
      width: 20px;
      height: 14px;
      position: absolute;
      transform: translateY(-50%);
    }

    path {
      transition: all .4s ease-in-out;
    }
  }
}
