.form-wrap {
  z-index: 1;
  position: relative;
  margin-bottom: 20px;
  
  @include respond-above(lg) {
    margin-bottom: 0;
    max-width: 680px;
  }
}

.form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
  
  &.form-group-checkbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .custom-button {
      margin-top: 30px;
    }
  }

  @include respond-above(lg) {
    margin-bottom: 40px;
  
    &.form-group-checkbox {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      
      .custom-button {
        width: 210px;
        margin-top: 0;
        
        span {
          justify-content: center;
        }
      }
    }
    
    &.w-lg-50 {
      max-width: 50%;
  
      &:nth-child(odd) {
        padding-right: 20px;
      }
      
      &:nth-child(even) {
        padding-left: 20px;
  
        .form-label {
          left: 44px;
        }
      }
    }
  }
}

.form-label {
  top: 18px;
  left: 24px;
  z-index: auto;
  padding: 0 5px;
  font-size: 16px;
  margin-bottom: 0;
  color: $text-grey;
  position: absolute;
  pointer-events: none;
  background-color: $text;
  transform-origin: left center;
  transition: all 0.2s ease-in-out;
  
  @include respond-above(lg) {
    top: 20px;
  }
}

.form-control {
  width: 100%;
  color: #fff;
  font-size: 16px;
  padding: 15px 24px;
  border-radius: 8px;
  border: 2px solid #fff;
  background-color: $text;
  box-shadow: none !important;
  
  @include respond-above(lg) {
    padding: 16px 24px;
  }

  &:focus {
    color: #fff;
    border-color: #fff;
    background-color: $text;
  }

  &:not(&:placeholder-shown) + .form-label,
  &:focus + .form-label {
    top: -9px;
    transform: scale(0.7);
  }
}

.checkbox-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  input {
    display: none;
    -webkit-appearance: none;

    &:checked + .checkbox-checkmark {
      border-color: $accent;
      background: url("/public/images/checkmark.svg") no-repeat center;
      background-size: 10px 8px;
      background-color: $accent;
    }
  }
}

.checkbox-checkmark {
  width: 16px;
  height: 16px;
  margin-right: 12px;
  border-radius: 4px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: border-color 0.4s ease-in-out, background-color 0.4s ease-in-out;

  @include respond-above(lg) {
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
}

.checkbox-text {
  color: #fff;
  font-size: 16px;

  @include respond-above(lg) {
    font-size: 20px;
    line-height: 25px;
  }
}
