.slider-wrap {
  z-index: 1;
  position: relative;

  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    margin-bottom: 60px;
  }

  .slide {
    transition-delay: 1s !important;
    transition-duration: 0s !important;
    transition-property: opacity !important;

    @include respond-above(lg) {
      margin: 0 15px;
    }

    &.start-change {
      .section-title {
        animation: slideTextHide 2s $motion 1 both;
        animation-delay: 0s !important;
      }

      .section-description {
        animation: slideTextHide 2s $motion 1 both;
        animation-delay: 0.25s !important;
      }
    }

    &.end-change {
      .section-title {
        animation: slideTextShow 2s $motion 1 both;
        animation-delay: 0s !important;
      }

      .section-description {
        animation: slideTextShow 2s $motion 1 both;
        animation-delay: 0.25s !important;
      }
    }
  }
}

.slick-dots {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 15px 8px;
  justify-content: flex-start;

  @include respond-above(lg) {
    width: 50%;
    max-width: 350px;
    margin-top: 80px;
  }

  li {
    flex: 1;
    display: flex;
    &.slick-active {
      .slider-number {
        color: #fff;
      }
    }
  }
}

.main-slider {
  @include respond-above(lg) {
    margin: 0 -15px;
  }
}

.slider-number {
  font-size: 14px;
  color: $text-grey;
  transition: all 0.4s ease-in-out;
  @include animation(showWithFade);

  @include respond-above(lg) {
    font-size: 16px;
  }
}

.slider-progress {
  width: 100%;
  height: 2px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  background-color: #5A5A5A;

  @include respond-above(lg) {
    width: 50%;
    max-width: 350px;
  }
}

.slider-progress-bar {
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  bottom: 0;
  z-index: 1;
  position: absolute;
  border-radius: 12px;
  background-color: #fff;
  //transition: all 0.4s ease-in-out;

  &.start {
    animation: moveProgressBar 30s linear infinite;
  }
  &.start01 {
    animation: moveProgressBar01 30s linear infinite;
  }
  &.start02 {
    animation: moveProgressBar02 20s linear;
  }
  &.start03 {
    animation: moveProgressBar03 10s linear;
  }
}
