.title-overflow {
  overflow: hidden;
}

.section-title {
  font-size: 40px;
  line-height: 38px;
  font-family: $basis;

  @include respond-above(lg) {
    font-size: 8vh;
    line-height: 95%;
  }
}

.section-description {
  font-size: 16px;
  line-height: 32px;
  color: $text-grey;

  @include respond-above(lg) {
    font-size: 20px;
    line-height: 41px;
  }
}
