.header {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed;
  transition: all 0.5s ease-in-out;

  &.active {
    background-color: $text;

    @include respond-above(lg) {
      background-color: transparent;
    }
  }

  @include respond-above(lg) {
    .container-fluid {
      padding-left: 80px;
      padding-right: 80px;
    }
  }

  &__row {
    display: flex;
    padding: 20px 5px;
    align-items: center;
    justify-content: space-between;

    @include respond-above(lg) {
      padding: 40px 0;
    }
  }
  
  &__flares {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    position: absolute;
  }
  
  &__flare {
    z-index: 1;
    opacity: 0;
    top: -11px;
    left: 32px;
    width: 34px;
    height: 34px;
    position: absolute;
    animation: rotateFlare 4s linear infinite both;

    @include respond-above(lg) {
      width: 60px;
      height: 60px;
  
      @include respond-above(lg) {
        top: -21px;
        left: 52px;
      }
    }
  }

  &__logo {
    position: relative;
  }
  
  &__logo-img {
    width: 122px;
    height: 40px;
  
    @include respond-above(lg) {
      width: 212px;
      height: 70px;
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-link {
  display: flex;
  margin-right: 20px;
  align-items: center;
  justify-content: flex-start;

  &:last-child {
    margin-right: 0;
  }

  @include respond-above(lg) {
    margin-right: 60px;
  }

  &:hover {
    .social-icon {
      background-color: $accent;
    }

    span {
      color: $accent;
    }
  }

  .social-icon {
    width: 24px;
    height: 24px;
    display: flex;
    position: relative;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    justify-content: center;
    transition: all 0.4s ease-in-out;

    @include respond-above(lg) {
      margin-right: 10px;
    }
  }

  img {
    top: 50%;
    left: 50%;
    z-index: 1;
    width: auto;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  span {
    color: #fff;
    font-size: 16px;
    transition: all .4s ease-in-out;
  }
}
