#main-page {
  height: 100vh;
  
  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    height: auto;
    position: relative;
  }
  
  &.scroll-enable {
    height: auto;
  }
}

.main-section {
  padding-top: 100px;
  
  @include respond-above(lg) {
    display: flex;
    height: 100vh;
    padding-top: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    padding-top: 150px;
    padding-bottom: 150px;
    height: auto !important;
  }
  
  .container-fluid {
    @include respond-above(lg) {
      padding-left: 80px;
      padding-right: 80px;
      
      [class*='col-'] {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
  
  .section-title {
    font-size: 28px;
    margin-bottom: 0;
    line-height: 40px;
    
    @include respond-above(lg) {
      font-size: 48px;
      line-height: 64px;
    }
  }
  
  .section-description {
    max-width: 100%;
    margin-bottom: 85px;
  }
  
  .slider-button {
    left: 0;
    z-index: 2;
    bottom: 60px;
    width: 215px;
    position: absolute;
    
    @include respond-above(lg) {
      width: 250px;
      bottom: 110px;
    }
  }
  
  &__info {
    width: 100%;
    
    .custom-button {
      @include respond-above(lg) {
        width: 205px;
        
        span {
          font-size: 20px;
        }
      }
    }
  }
  
  &__title-wrap {
    margin-bottom: 20px;
    
    @include respond-above(lg) {
      margin-bottom: 30px;
    }
    
    /* Small height desktop devices */
    @media screen and (min-width: 992px) and (max-height: 750px) {
      margin-bottom: 30px;
    }
  }
}

.contact-section {
  z-index: 10;
  padding: 0 20px;
  
  &__back-title {
    font-size: 16px;
    margin-bottom: 12px;
    
    @include respond-above(lg) {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
  
  @include respond-above(lg) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    position: absolute;
    
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    .form-wrap {
      padding: 80px 0;
    }
  }
}

.socials {
  @include respond-above(lg) {
    left: 65px;
    bottom: 40px;
    z-index: 1001;
    position: absolute;
  }
}

.star-wrap {
  left: 50%;
  width: 400px;
  height: 400px;
  margin: 40px 0;
  position: relative;
  transform: translateX(-50%);
  
  @include respond-above(md) {
    width: 625px;
    height: 625px;
    margin: 0 auto 0 0;
    transform: translateX(-50%);
  }
}

.star-blur {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: relative;
  transform: scale(1.5);
  
  @include respond-above(md) {
    transform: scale(1);
  }
}

.star-mask {
  left: 50%;
  margin: 0;
  z-index: 1;
  bottom: -55%;
  width: 1500px;
  height: 1500px;
  position: absolute;
  transform: translate(-50%, 0%);
  -webkit-mask-size: 0 0;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  animation: pulseCircle 6s ease-in-out infinite 4s;
  -webkit-mask-image: url('/public/images/pulse_test.svg');
  //background: url('/public/images/pulse.svg') no-repeat center;
  //background-size: 100% 100%;
  
  @include respond-above(lg) {
    top: 0;
    bottom: 0;
    left: 23%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    transform: translateY(0);
    transition: all 2s ease-in-out;
  }
  
  &.start-move {
    left: -46%;
    animation-play-state: paused;
  }
  
  &.end-move {
    left: -46%;
    animation-play-state: running;
    
    .star-pattern {
      transform: translateX(46%);
    }
  }
  
  &.start-back-move {
    left: 23%;
    animation-play-state: paused;
  }
  
  &.end-back-move {
    left: 23%;
    animation-play-state: running;
  }
  
  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    height: 100%;
  }
}

.star-pattern {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  left: auto;
  width: auto;
  height: 800px;
  object-fit: cover;
  position: absolute;
  
  @include respond-above(lg) {
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-23%);
    transition: all 2s ease-in-out;
  }
  
  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    height: 100%;
  }
}

.star-pulse {
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 400px;
  height: 400px;
  position: absolute;
  transform: translate(-50%, -50%) scale(0);
  animation: pulseBlur 6s ease-in-out infinite 4s;
  
  @include respond-above(lg) {
    width: 625px;
    height: 625px;
  }
  
  span {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border-radius: 50%;
    position: absolute;
    
    &:nth-child(1) {
      mix-blend-mode: soft-light;
      border: 80px solid rgba(36, 106, 244, 0.3);
      filter: blur(64px) drop-shadow(0px 0px 16px #246AF4);
    }
    
    &:nth-child(2) {
      mix-blend-mode: normal;
      border: 80px solid #4CADF9;
      filter: blur(64px) drop-shadow(0px 0px 16px rgba(36, 106, 244, 0.1));
    }
  }
}

.col-slider {
  z-index: 2;
  position: relative;
  
  @include respond-above(lg) {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease-in-out;
    
    &.show {
      animation: showWithTransform 2s $motion 1 both;
    }
    
    &.hide {
      animation: showWithTransformUp 2s $motion 1 both;
    }
  }
}

.col-star {
  z-index: 1;
  position: relative;
  
  @include respond-above(lg) {
    &.start-move {
      animation: moveStar 2s ease-in-out 1;
      
      .star-blur {
        animation: moveBlur 2s ease-in-out 1;
      }
      
      .star-pulse {
        animation-play-state: paused;
      }
    }
    
    &.end-move {
      transform: translateX(calc(-150% - 80px));
      
      .star-blur {
        transform: scale(2);
      }
      
      .star-pulse {
        width: 710px;
        height: 710px;
        animation-play-state: running;
      }
    }
    
    &.start-back-move {
      animation: moveStarBack 2s ease-in-out 1;
      
      .star-blur {
        animation: moveBlurBack 2s ease-in-out 1;
      }
      
      .star-pulse {
        animation-play-state: paused;
      }
    }
    
    &.end-back-move {
      transform: translateX(0);
      
      .star-blur {
        transform: scale(1);
      }
      
      .star-pulse {
        width: 650px;
        height: 650px;
        animation-play-state: running;
      }
    }
  }
}

.col-contact {
  z-index: 2;
  position: relative;
  
  @include respond-above(lg) {
    top: 50%;
    opacity: 1;
    width: 50%;
    right: 80px;
    max-width: 50%;
    position: absolute;
    visibility: visible;
    transform: translateY(-50%);
    transition: all 1s ease-in-out;
    
    &.hide {
      opacity: 0;
      visibility: hidden;
    }
    
    &.show {
      .contact-section__back-title {
        animation: showWithTransform 2s $motion 1 both;
      }
      
      .section-title {
        animation: showWithFullTransform 2s $motion 1 both;
      }
      
      .form-container {
        animation: showWithTransform 2s $motion 1 300ms both;
      }
    }
    
    &.back-hide {
      .contact-section__back-title {
        animation: showWithTransformUp 2s $motion 1 both;
      }
      
      .section-title {
        animation: showWithFullTransformUp 2s $motion 1 both;
      }
      
      .form-container {
        animation: showWithTransformUp 2s $motion 1 300ms both;
      }
    }
  }
  
  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    top: 0;
    transform: translateY(0);
  }
}

.comets-wrap {
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  //transform: translateY(-50%);
  
  &.start {
    .comet {
      animation: moveComet 0.5s linear 1;
    }
  }
  
  @include respond-above(lg) {
    top: 50%;
    height: 100vh;
    transform: translateY(-50%);
  }
  
  /* Small height desktop devices */
  @media screen and (min-width: 992px) and (max-height: 750px) {
    height: calc(100% + 300px);
  }
}

.comet {
  width: 1.5px;
  opacity: 0.8;
  height: 390px;
  bottom: -100%;
  overflow: hidden;
  background: #fff;
  filter: blur(1px);
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
}
