extends layout/layout

block vars
  - var title = "Naos"

append content
  main#main-page
    section.main-section
      figure.star-mask
        img.star-pattern(src="/images/pattern.png" alt="pattern")
      .container-fluid
        .row
          .col-12.col-lg-6.col-slider
            .slider-wrap
              .slider.main-slider
                .slide
                  .main-section__info
                    .main-section__title-wrap
                      h2.section-title(data-animation="show-transform-20" data-delay="200")
                        | Lead your business to the next level with the Naos blockchain solutions provider
                    p.section-description(data-animation="show-transform-20" data-delay="500")
                      | Reassemble your business processes with the blockchain and tokenization to get them more transparent, fast, controllable and scalable.
                .slide
                  .main-section__info
                    .main-section__title-wrap
                      h2.section-title(data-animation="show-transform-20" data-delay="200")
                        | The tokenization drives real-estate development business to a state-the-art capitalization approach
                    p.section-description(data-animation="show-transform-20" data-delay="500")
                      | Collective investments in the square units of whole building project shifting the paradigm of development funding
                .slide
                  .main-section__info
                    .main-section__title-wrap
                      h1.section-title(data-animation="show-transform-20" data-delay="200")
                        | Tokenize your assets to share it with the entire world
                    p.section-description(data-animation="show-transform-20" data-delay="500")
                      | Blockchain solution designed to inspire new ways of the investments for startups, accelerators, and funds.
              button.custom-button.slider-button(type="button" data-animation="show-transform-20" data-delay="700")
                span Request a demo
                img.svg(src="/images/button_arrow.svg" alt="Arrow")
              .slider-progress(data-animation="show-clip-right" data-delay="700")
                span.slider-progress-bar
          .col-12.col-lg-6.col-star(data-animation="show-with-fade" data-delay="1200")
            .star-wrap
              img.star-pulse(src="/images/pulse.svg")
              img.star-blur(src="/images/star_blur.png" alt="blur")
            .comets-wrap
    section#contact.contact-section.hide
      #contact-form.form-wrap.col-contact.hide
        h5.contact-section__back-title back
        .main-section__title-wrap
          .title-overflow
            h2.section-title Contact us
        form.form-container(action="/" method="post")
          .form-group.w-lg-50
            input.form-control(type="text" name="name" required placeholder="First name")
            label.form-label First name
          .form-group.w-lg-50
            input.form-control(type="text" name="lastName" placeholder="Last name")
            label.form-label Last name
          .form-group.w-lg-50
            input.form-control(type="text" name="companyName" placeholder="Company name")
            label.form-label Company name
          .form-group.w-lg-50
            input.form-control(type="text" name="position" placeholder="Position")
            label.form-label Position
          .form-group.w-lg-50
            input.form-control(type="text" name="website" placeholder="Website")
            label.form-label Website
          .form-group.w-lg-50
            input.form-control(type="tel" name="phone" required placeholder="Phone")
            label.form-label Phone
          .form-group
            input.form-control(type="email" name="email" required placeholder="Email")
            label.form-label Email
          .form-group
            textarea.form-control(rows="4" name="message" placeholder="Message")
            label.form-label Message
          .form-group.form-group-checkbox
            .form-checkbox
              label.checkbox-label
                input(type="checkbox" name="confirm")
                span.checkbox-checkmark
                span.checkbox-text I agree with terms and conditions
            button.custom-button.full-width(type="submit")
              span Send
    .socials.d-none.d-lg-flex
      a.social-link(href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="900")
        span.social-icon
          img(src="/images/linkedin.svg" alt="Linkedin")
        span LinkedIn
      a.social-link(href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="1000")
        span.social-icon
          img(src="/images/facebook.svg" alt="Facebook")
        span Facebook
      a.social-link(href="/" target="_blank" rel="nofollow" data-animation="show-transform-20" data-delay="1100")
        span.social-icon
          img(src="/images/telegram.svg" alt="Telegram")
        span Telegram
      a.social-link.email-link(href="mailto:info@neosef.com" target="_blank" data-animation="show-transform-20" data-delay="1200")
        span info@neosef.com