@keyframes moveComet {
  0% {
    bottom: -100%;
  }

  100% {
    bottom: 100%;
  }
}

@keyframes moveProgressBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes moveProgressBar01 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes moveProgressBar02 {
  from {
    width: 33.33333%;
  }

  to {
    width: 100%;
  }
}

@keyframes moveProgressBar03 {
  from{
    width: 66.66666%;
  }

  to {
    width: 100%;
  }
}

@keyframes moveStar {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  50% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(calc(-150% - 80px));
    transform: translateX(calc(-150% - 80px));
  }
}

@keyframes moveStarBack {
  0% {
    -webkit-transform: translateX(calc(-150% - 80px));
    transform: translateX(calc(-150% - 80px));
  }

  50% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}

@keyframes moveBlur {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes moveBlurBack {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }

  50% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes rotateFlare {
  0% {
    opacity: 0;
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

@keyframes pulseCircle {
  0% {
    opacity: 1;
    -webkit-mask-size: 0 0;
  }

  40% {
    opacity: 0;
    -webkit-mask-size: 350% 350%;
  }

  50%, 100% {
    opacity: 0;
    -webkit-mask-size: 350% 350%;
  }
}

@keyframes pulseBlur {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }

  40% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }

  50%, 100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(5);
  }
}

@keyframes showWithFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showWithFullTransform {
  0% {
    -webkit-transform: translateY(calc(100% + 10px));
    transform: translateY(calc(100% + 10px));
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes showWithTransform {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes showWithTransformUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

@keyframes showWithClipRight {
  0% {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }

  100% {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes showWithFullTransformUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(calc(-100% - 10px));
    transform: translateY(calc(-100% - 10px));
  }
}

@keyframes slideTextHide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  
  100% {
    opacity: 0;
    transform: translateY(40px);
  }
}

@keyframes slideTextShow {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

[data-animation="show-with-fade"] {
  @include animation(showWithFade);
}

[data-animation="show-with-full-transform"] {
  @include animation(showWithFullTransform);
}

[data-animation="show-transform-20"] {
  @include animation(showWithTransform);
}

[data-animation="show-clip-right"] {
  @include animation(showWithClipRight);
}
