$text: #19181B;
$error: #F84242;
$accent: #42A1F8;
$text-grey: #949494;
$placeholder: #8C8B8D;
$motion: cubic-bezier(0.19, 1, 0.22, 1);

$montserrat: 'Montserrat', sans-serif;
$basis: 'Basis Grotesque Pro', sans-serif;
