@font-face {
  font-family: 'FuturaDemiC';
  src: url('/public/fonts/BasisGrotesquePro-Regular.eot');
  src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
  url('/public/fonts/BasisGrotesquePro-Regular.eot?#iefix') format('embedded-opentype'),
  url('/public/fonts/BasisGrotesquePro-Regular.woff') format('woff'),
  url('/public/fonts/BasisGrotesquePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
